services:                                                                      # 爱快路由器下配置多sing-box透明代理，然后通过强大的爱快分流，分流方式支持无线热点分流 源地址分流
 vwan:                                                                         # 服务名称，这里取vwan,代表虚拟网关 
    image: "lihaixin/sing-box:${VERSION:-1.12.12}"                             # 镜像名称 https://hub.docker.com/r/lihaixin/sing-box
    restart: unless-stopped                                                    # unless-stopped  always 
    privileged: true
    volumes:
      - portainer_data:/data                                                   # 挂载整个卷
    env_file:
      - /data/global.env
    environment:
      UPDATE: "${UPDATE:-0}"                                                   # 在线更新模板
      MODE_RULE: ${MODE_RULE:-direct}                                          # 设置是否分流，direct为国内外分流，proxy为全局代理
      LOG_LEVEL: ${LOG_LEVEL:-info}                                            # 日志级别，支持trace debug info warn error fatal panic
      DNS_ADDR: "${DNS_ADDR:-8.8.8.8}"                                         # 远程调用DNS查询地址
      TYPE: ${TYPE:-client_socks5}                                             # client_socks5 | client_ss | client_ss_head | client_wireguad | client_wireguad_preshare | client_vless_tcp | client_tuic | client_hysteria2
      SERVER: ${SERVER:-6.6.6.6}                                               # 代理IP地址 
      PORT: ${PORT:-10800}                                                     # 代理IP端口 
      USER: ${USER:-user}                                                      # 代理 socks5账号 /ss 加密方式 2022-blake3-aes-128-gcm  xchacha20-ietf-poly1305 aes-256-gcm / wg服务端公钥 / vless UUID / TUIC UUID
      PASSWD: ${PASSWD:-password}                                              # 代理 socks5密码 /ss密码 /WG客户端私钥 /vless密码 /tuic密码
      WGADDR: "${WGADDR:-10.8.1.11/24}"                                        # wireguard 客户端分配IP
      PRE_KEY: "${PRE_KEY:-Hj8kLm9nOp0qRs1tUv2wXy3zAb4cDe5fGh6iJk7lMn8=}"      # 使用这个命令生成 Hj8kLm9nOp0qRs1tUv2wXy3zAb4cDe5fGh6iJk7lMn8= 是一个可选的额外加密层
      
    networks:
      vlan:
        ipv4_address: ${IP:-172.19.0.1}                                        # 修改不同的IP【*】
networks:
  vlan:
    external: true
volumes:
  portainer_data:
    external: true
