services:                                                                      # 配置多网口代理
 mproxy:                                                                       # 服务名称，这里取mproxy,代表多网卡多IP 
    image: "lihaixin/sing-box:${VERSION:-1.12.12}"                             # 镜像名称 https://hub.docker.com/r/lihaixin/sing-box
    restart: unless-stopped                                                    # unless-stopped  always 
    network_mode: "host"
    privileged: true                                                           # wg服务需要
    # entrypoint: ["/bin/sh", "-c", "tail -f /dev/null"]
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    env_file:
      - /data/global.env
    environment:
      # NO: "${NO:-0999202410241280008}"                                       # 授权NO,内部使用，未经授权，第二台设备用，授权码会自动禁止，不能再启用！！！
      LOG_LEVEL: ${LOG_LEVEL:-info}                                            # 日志级别，支持trace debug info warn error fatal panic
      DNS_ADDR: "${DNS_ADDR:-8.8.8.8}"                                         # 远程调用DNS查询地址
      TYPE: ${TYPE:-server_socks5}                                             # server_socks5 | server_ss | endpoint_wireguard |server_vless_grpc | server_tuic
      SERVER: ${SERVER:-0.0.0.0}                                               # 落地socks5/ss/wg/tuic 代理IP tuic要填写真实的公网IP地址，用于生成IP证书
      PORT: ${PORT:-10800}                                                     # 落地socks5/ss/wg/tuic 代理端口 
      USER: ${USER:-user}                                                      # 落地socks5代理账号 /ss 加密方式 2022-blake3-aes-128-gcm  xchacha20-ietf-poly1305 aes-256-gcm /wg 客户端公钥 /tuic UUID
      PASSWD: ${PASSWD:-password}                                              # 落地socks5/ss/tuic 代理密码 /WG端私钥，请通过 sing-box generate wg-keypair 创建
      INTERFACE: ${INTERFACE:-ens5}                                            # 出口接口，支持ovpn这些虚拟口
      WGADDR: "${WGADDR:-10.8.1.1/24}"
      PRE_KEY: "${PRE_KEY:-Hj8kLm9nOp0qRs1tUv2wXy3zAb4cDe5fGh6iJk7lMn8=}"      # 使用这个命令生成 Hj8kLm9nOp0qRs1tUv2wXy3zAb4cDe5fGh6iJk7lMn8= 是一个可选的额外加密层
    volumes:
      - singbox:/etc/sing-box
      - portainer_data:/data                                                   # 挂载整个卷
volumes:
  singbox:
  portainer_data:
    external: true
